#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.staff-container {
  display: flex;
  background-color: antiquewhite;
  width: 80%;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.staff-container li {
  width: 25%;
  background-color: white;
  margin: 1em 0.5em;
  padding: 1em;
  border-radius: 10px;
  position: relative;
}

/*specificity in css*/
.staff-container li > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: aliceblue;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-container li:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #ccc;
}

.foodContainer {
  display: flex;
  background-color: aqua;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.foodContainer li {
  width: 40%;
  background-color: aquamarine;
  margin: 1em 1em;
  padding: 1em;
  border-radius: 10px;
}

.foodContainer li:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #1517af;
}
